[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[alias]
	st = status -sb
	co = checkout
	df = diff
	l = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	ls = "log --oneline --decorate"
	lsg = "log --oneline --decorate --graph"
	pl = pull --rebase
	pu = push -u
	empty = commit --allow-empty -m "empty commit"
[core]
	autocrlf = input
	editor = vi
	excludesfile = ~/.gitignore_global
    filemode = false
[color]
	ui = true
	branch = auto
	diff = auto
	interactive = auto
	status = auto
[color "branch"]
	current = cyan bold
	local = cyan
	remote = red
[difftool]
	prompt = false
[mergetool]
	prompt = false
	keepBackup = false
[push]
	default = simple
	autoSetupRemote = true
[pull]
	default = rebase
[status]
	showUntrackedFiles = all
[rerere]
	autoupdate = true
	enabled = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autoStash = true
[gpg]
	format = ssh
[commit]
	gpgsign = true
